.logo-sk-ft.svelte-m92hfx{width:18rem;height:auto}
.logo-sk.svelte-1kg7r8g{width:21rem;height:auto}@media(max-width: 768px){.logo-sk.svelte-1kg7r8g{width:auto;height:2.3rem}}
h1.svelte-8od9u6,p.svelte-8od9u6{margin:0 auto}h1.svelte-8od9u6{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-8od9u6{margin:1em auto}@media(min-width: 480px){h1.svelte-8od9u6{font-size:4em}}
